body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 740px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f0f8ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #ffffff;
}